.SearchBar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    font-size: 16px;
    padding: 10px 15px 10px 40px;
    color: #c5c5c5;
    transition: 0.2s;
    border-radius: 20px;
    text-decoration: none;
    width: 40%;
    margin: auto;
    box-shadow: 0 2px 3px #003459;

}


.SearchBar:focus{
    outline: none;
}